.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 5%;
  height: 65vh;
  min-width: 500px;
  background-color: #272829;
  color: #DFDFDF;

  @media(max-width: 2000px){
    margin-top: 50px;
    min-width: 400px;
  }

  @media(max-width: 480px){
    padding: 10% 5%;
    min-width: 200px;
  }
 
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font: normal normal 500 19px Rubik;
    text-transform: uppercase;
    border-bottom: 1px solid #DFDFDF;
  }

  &__button {
    margin: 5px 0;
    padding: 6px 2px;
    border:none;
    font-size: 25px;
    font-weight: 300;
    color:#DFDFDF;
    background-color: transparent;
    opacity: 0.67;

    &:hover {
      color: #fdd000;
      opacity: 1;
    }
  }

  &__table{
    display: block;
    width: 100%;
  }

  &__tbody{
    margin: 0 -10px;
    display: block;
    padding-top: 38px;
  }

  &__thead{
    display: block;
  }

  &__thead tr{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font: normal normal 200 20px Rubik;
    padding: 16px 3px;
    margin-top: 38px;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;

    @media(max-width: 1200px){
      padding: 16px 6px;
    }

    @media(max-width: 480px){
      font: normal normal 200 15px Rubik;
    }
  }

  &__tbody tr {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 500;

    @media(max-width: 1200px){
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    @media(max-width: 480px){
      font: normal normal 400 15px Rubik;
    }
  }

  &__day {
    position: relative;
    display: block;
    padding: 12px;
    cursor: pointer;
    text-align: center;
    transition: color 0.5s ease-in;

    &:hover {
      color: #fdd000;
    }

    &:hover::after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -10%);
      content: '';
      display: block;
      height: 5px;
      width: 5px;
      background-color: #fdd000;
      border-radius: 10px;
    }
  }

  &__disabledDay {
    display: block;
    padding: 12px;
    opacity: 0.24;
    text-align: center;
  }

  &__today {
    background-color:#fdd000;
    color:#272829;
    transition: color 0.4s ease-in-out;

    &:hover {
      color: #DFDFDF;
    }
  }

  &__selected {
    &::after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -10%);
      content: '';
      display: block;
      height: 6px;
      width: 6px;
      background-color: #fdd000;
      border-radius: 10px;
    }
  }
}
