.calendar {
  box-sizing: border-box;
  margin-top: 150px;
}

.calendar header {
  width: 20vw;
  left: 50%;
  transform: translate(50%, 10%);
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  border-bottom: 1px solid #FFFFFF;
}

.calendar header span {
  display: flex;
  align-items: center;
}

.calendar header button,
.calendar header select {
  margin: 0 4px;
}

.calendar table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  margin: auto;
  margin-top: 20px;
}

.calendar th {
  vertical-align: middle;
  text-align: center;
  height: 36px;
  color: #fff;
  font: normal normal medium 20px/24px Rubik;
  letter-spacing: 0px;

  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.calendar .day {
  position: relative;
  padding: 6px 10px;
  vertical-align: middle;
  text-align: center;
  border: 2px solid transparent;
  color: #DFDFDF;

  transition: background-color 0.4s ease-in-out;
}

.calendar .day:hover {
  cursor: pointer;
}

.calendar .day:hover::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
  content: '';
  display: block;
  height: 5px;
  width: 5px;
  background-color: #fdd000;
  border-radius: 10px;
}

.calendar .day.selected::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  background-color: #fdd000;
  border-radius: 10px;
}

.calendar .day.today {
  background-color: #FDD000;
  color: white;
}

.calendar .day.today:hover {
  background-color: #FDD000;
}

.calendar .day.today.selected {
  border: 2px solid lightgray;
}

.heading {
  color: white;
  text-align: center;
  font: normal normal medium 19px/23px Rubik;
  letter-spacing: 0px;
  color: #DFDFDF;
  text-transform: uppercase;
}
