.Header {
  background-color: #84a9ac;
  // height: 150px;
}

.container {
  background-color: #e4e3e3;
  margin-bottom: 22px;
  // height: 150px;
}

.navbar {
  // margin-top: 50px;
  height: 150px;
}

.nav-link {
  // font-family: Rubik; 
  // text-align: left;
  // font: normal normal medium 28px/30px Rubik;
  font-size: 28px;
  font-weight: medium;
  letter-spacing: 0.56px;
  color: #3D3D3D;
  text-transform: uppercase;
}
