.Header img {
  width: 145px;
  height: 40px;

  @media(max-width: 1200px){
    width: 90px;
    height: 30px;
  }

  @media(max-width: 360px){
    width: 70px;
    height: 20px;
  }
}

.container-fluid {
  padding: 0;
}

.navbar {
  height: 110px;
  padding: 0 110px;

  @media(max-width: 1200px){
    height: 90px;
  }

  @media(max-width: 560px){
    padding: 0 10px;
  }

  @media(max-width: 360px){
    height: 60px;
  }
}

.nav-link {
  font: normal normal 500 28px/30px Rubik;
  letter-spacing: 0.56px;
  color: #3D3D3D;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;

  &:hover {
    color:#FDD000;
  }

  @media(max-width: 1200px){
    font: normal normal 500 20px/25px Rubik;
  }

  @media(max-width: 360px){
    font: normal normal 500 15px/20px Rubik;
  }
}

.nav-item {
  position: relative;
}

.active::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
  content: '';
  display: block;
  height: 14px;
  width: 14px;
  background-color: #fdd000;
  border-radius: 10px;

  @media(max-width: 1200px){
    height: 10px;
    width: 10px;
  }
}
